.shareThis {
    font-size: 18px;
    margin-top: 90px
}


.shareThis,
.sharethis-inline-share-buttons {
    padding: 10px;
}


footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: var(--footer);
    position: relative;
}

copy {
    padding: 23px 0;
    text-align: center;
    font-size: 14px;
    z-index: 11;
}

copy .medium-icon {
    margin-left: 10px
}

footer strong {
    font-size: 23px;
    display: block;
}

footer a,
footer a:visited {
    color: var(--footer-link);
    margin: 23px 0;
    text-decoration: none;
}

footer a:hover {
    color: var(--footer-link-secondary);
}

footer img {
    max-height: 32px;
}