#main_header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
    padding-bottom: 23px;
    background: var(--main-header-bg);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9;
    pointer-events: none;
}

#main_header * {
    pointer-events: all;
}

.main-header {
    z-index: 10;
}



.logo,
.logo:visited {
    margin: 10px 0;
    width: 144px;
    height: 32px;
    background: var(--logo);
    background-size: 100%;
}



#add {
    font-size: 32px;
    color: var(--main-contrast);
    background: var(--main-color-dark);
    -webkit-tap-highlight-color: transparent;
    border: 0;
    width: 32px;
    height: 32px;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 32px;
    transition: all 0.69s
}


#add:hover {
    transform: rotate(720deg);
    background: var(--main-color);
    border-radius: 5px;
}

#add img {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}



#user-menu {
    width: auto;
    align-items: center;
    position: relative;
}

.avatar-container {
    width: 32px;
    height: 32px;
    margin: 0 0 0 5px;
    border-radius: 51%;
    overflow: hidden;
    position: relative;
}

.avatar {
    width: 32px;
    display: block;
    border: 0;
}

#user-menu:hover #menu-options {
    display: block
}

#menu-options {
    min-width: 140px;
    position: absolute;
    top: -4px;
    right: 43px;
    border-radius: 5px;
    background: var(--menu-options-bg);
    border: 1px solid var(--menu-options-border);
    box-shadow: 0 0 15px var(--second-contrast-50);
    text-align: left;
}

.authenticated {
    top: 10px !important
}

#menu-options button:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#menu-options button:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#menu-options:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    right: -11px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--menu-triangle);
}

#menu-options button:hover {
    background: var(--menu-button-hover);
    border-radius: 5px
}

#login,
#logout {
    border-radius: 0;
    width: 100%;
    border: 0;
    padding: 10px;
    background: var(--menu-button);
    text-align: left;
}

#login span {
    vertical-align: middle;
}