@import url("/css/normalization.css");
@import url("/css/features.css");
@import url("/css/notifications.css");
@import url("/css/navigation.css");
@import url("/css/header.css");
@import url("/css/subheader.css");
@import url("/css/re-usable.css");
@import url("/css/index.css");
@import url("/css/footer.css");
@import url("/css/animations.css");
@import url("/css/loader.css");


#items {
  min-height: 32vh;
  width: 100%;
  padding-left: 170px;
  transition: 0.11s padding
}

.main-header,
#subheader,
#navigation {
  position: relative;
  width: 100%;
}

#confetti {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: visible;
  z-index: 9999999;
  transition: opacity 3s
}

#custom-substack-embed form {
  box-shadow: 0 0 10px #232323;
}

#custom-substack-embed form,
#custom-substack-embed input {
  margin: 0 auto !important;
  border-radius: 6px !important
}

#custom-substack-embed button {
  border-radius: 3px !important;
  box-shadow: none !important;
  text-shadow: none !important;
  line-height: 1 !important;
  display: block
}

.libutton {
  margin: 23px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  color: #ffffff !important;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  background-color: #0A66C2;
  font-family: "SF Pro Text", Helvetica, sans-serif;
}

@media screen and (max-width: 959px) {

  #close-features {
    top: 20px
  }

  .maxw-1111-230 {
    max-width: 100%;
  }

  #main_header {
    padding: 0 10px
  }

  .logo,
  .logo:visited {
    padding-left: 0;
    width: 100px;
    height: 42px;
  }

  #subheader {
    border-radius: 3px;
  }

  #subheader #search input[type=text] {
    max-width: 100px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  #subheader #search input[type=text]:focus {
    max-width: 150px;
  }

  .queryText {
    top: 93px
  }

  .query-text {
    padding-top: 0
  }

  .features {
    padding-top: 69px;
  }

  .features .grid-3 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .first-paragraph i {
    max-width: 100%
  }

  #rollin {
    padding: 10px;

  }

  #rollin img {
    margin-bottom: 0 !important
  }

  #controls {
    display: block;
    width: 180px;
    position: fixed;
    right: -180px;
    z-index: 12;
    border-radius: 5px;
    bottom: 123px;
    background: var(--main-bg-color);
    transition: 0.23s all
  }

  #select-type {
    padding: 5px;
  }

  #hassle-stats {
    margin: 0
  }

  #hassle {
    margin-bottom: 23px
  }

  .private:after {
    left: 0 !important
  }

  .public:after {
    left: 53px !important
  }

  .custom:after {
    left: 107px !important
  }

  #burger {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: white;
    position: absolute;
    bottom: 100px;
    left: -32px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border: 0;
    box-shadow: 0 0 10px #000000
  }

  #burger img {
    width: 18px;
    height: 18px;
    margin: 4px 0 0 2px;
    transform: rotate(90deg)
  }

  #items {
    padding-left: 0 !important
  }

  #hassles {
    margin-top: 15px;
    padding: 10px;
    display: block !important;
  }

  #user-cards {
    margin-top: 23px !important;
    padding: 0 10px;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .hassle {
    margin-bottom: 23px
  }

  .hasslePage article>.flex,
  .hasslePage article>.flex>.flex {
    display: block
  }

  .hasslePage .main-image,
  .hasslePage .main-image img {
    max-width: 100% !important;
    width: 100% !important
  }

  .hasslePage .content {
    padding: 10px 0 0 0 !important
  }

  #mainHeading {
    padding: 23px 10px 0 10px;
    margin-bottom: 0
  }

  .hassle h2 {
    margin-top: 0
  }

  .description p {
    padding-right: 0;
  }

  .hassle-type {
    padding: 3px 6px
  }

  .indexHassle,
  .indexPost:visited {
    padding: 0;
  }

  .hassle:hover {
    box-shadow: none;
    background: none !important
  }

  .content {
    padding: 0
  }

  #hassle-form {
    min-width: auto !important;
    padding-top: 23px;
    margin: 0 10px
  }

  #hassle-form-container #close {
    top: 32px;
    right: 18px
  }

  #image-results>div {
    margin-bottom: 10px
  }

  #hassle-form-container #image-results {
    display: block
  }

  body #hassle-form .btn {
    margin-top: 0 !important;
  }

  #navigation {
    padding: 23px 10px;
    margin-bottom: 0
  }

  #user-cards h2 {
    text-align: left;
    margin-bottom: 23px
  }

  footer {
    padding: 0;
    flex-direction: column;
  }

  footer strong {
    font-size: 18px
  }

  copy {
    text-align: left;
    padding: 32px 23px
  }

  #custom-substack-embed {
    padding: 0 10px
  }
}