#subheader {
    height: auto;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    pointer-events: all;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

#subheader input {
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: var(--main-color-dark)
}

#subheader input[type=text] {
    padding-right: 32px;
    max-width: 150px;
    background: var(--search-bg);
    color: var(--second-contrast);
    transition: 0.23s max-width
}

.query-text {
    padding: 2px 6px 6px 12px;
    text-align: left;
    line-height: 1.5;
}

#search {
    visibility: hidden;
    pointer-events: none;
}

#search input[type=text]:focus {
    max-width: 230px;
}

#subheader input[type=submit] {
    width: 27px;
    cursor: pointer;
    background-image: url(/svgs/search.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-color: var(--main-color-dark);
    color: var(--main-contrast);
    border-radius: 5px;
    margin-left: -27px;
    transition: 0.23s all
}

#subheader input[type=submit]:hover {
    background-color: var(--main-color);
    background-size: 32px 32px;
    background-position: -1px 22%;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 21px;
    top: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    width: 46px;
    height: 21px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--slider-border);
    border-radius: 21px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    top: -1px;
    left: 0;
    border-radius: 51%;
    background: var(--switch-bg);
    background-size: 21px 21px;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}



#balance-container {
    position: relative;
}

#balance {
    position: absolute;
    height: 25px;
    overflow: hidden;
    top: 0;
    right: 0;
    display: inline-block;
    text-align: right;
    border-radius: 5px;
    background: var(--sub-header-bg);
}

#balance:hover {
    padding: 3px 3px 0 3px;
    box-shadow: 0 0 15px var(--second-contrast-50);
}

#balance label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    line-height: 27px;
    padding: 0 10px;
    margin-bottom: 3px;
    background: var(--search-bg);
    border-radius: 5px;
    cursor: pointer;
}

#balance label:hover {
    background: var(--second-contrast);
    color: var(--main-contrast)
}

#balance:hover {
    height: auto
}

#balance img {
    width: 16px;
    height: 16px;
    margin: -1px 0 0 9px;
}

.noAuthQueryUser {
    display: block;
    height: 25px;
    line-height: 25px;
    padding-right: 5px;
    text-decoration: none;
    color: var(--second-contrast)
}

#balance .noAuthQueryUser i {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    overflow: hidden;
    margin: 2px 5px;
    vertical-align: bottom !important;
}

#balance .noAuthQueryUser i img {
    width: 22px !important;
    height: auto !important;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    cursor: pointer;
    transition: 0.23s filter;
}