.notification {
    background: var(--notification-bg);
    border: var(--notification-border);
    margin: 23px;
    border-radius: 6px;
}

.quickText {
    width: 100%;
    height: 100%;
    font-size: 32px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    pointer-events: none;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 23px var(--main-contrast);
    animation-delay: 1s
}

.quickText h2 {
    margin-top: -23%;
    animation: quickText 1s forwards ease-in-out
}